@model CarrinhoCompraViewModel

@if(Model.CarrinhoCompra.CarrinhoCompraItems.Count > 0){
    <a asp-controller="CarrinhoCompra" asp-action="Index">
        <span><i class="bi bi-cart4"></i></span>
        <span >
            @Model.CarrinhoCompra.CarrinhoCompraItems.Count
        </span>
    </a>
}