@model List<Categoria>

<main id="main">

    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h2>Nossos lanches.</h2>
                <p class="text-white">Confira nosso<span> Cardápio</span></p>
            </div>

            <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">

                @foreach (var item in Model)
                {
                    <li class="nav-item">
                        <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu">
                            <h4>@item.CategoriaNome</h4>
                        </a>
                    </li>
                }
            </ul>


        </div>
    </section><!-- End Menu Section -->
</main>
