@model HomeViewModel;

@*<partial name = "_Carousel" />
*@

<section id="hero" class="hero d-flex align-items-center mb-5">
    <div class="container">
        <div class="row justify-content-between gy-5">
            <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
                <h2 data-aos="fade-up" class="text-white">Experimente o melhor<br>de porto velho.</h2>
                <p data-aos="fade-up" class="text-white" data-aos-delay="100">Bem-vindo ao Bomba Lanches, Experimente nossos hambúrgueres regionais como o X-Caboclo e o X-Beradeiro. Uma explosão de sabores em cada mordida. Venha saborear conosco!</p>
                <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                    <a href="#menu" class="btn-book-a-table">Faça seu pedido</a>
                    <a href="https://www.youtube.com/watch?v=alVczxT9OkQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Assistir Vídeo</span></a>
                </div>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
                <img src="~/images/cheeseburguer2.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
            </div>
        </div>
    </div>
</section><!-- End Hero Section -->


<h2 class="mt-5">Os preferidos da semana</h2>

<div class="row">
    @foreach(var lanche in Model.LanchesPreferidos)
    {
        <partial name ="_LanchesResumo" for="@lanche" />
    }    
</div>